:root {
    /* Fontes utilizadas */
    --FontPrimary: 'Orbitron', sans-serif;

    /* Dimensões */
    --dimen-xxs: 1px;
    --dimen-xs: 3px;
    --dimen-sm: 5px;
    --dimen-md: 7.5px;
    --dimen-lg: 10px;
    --dimen-0x: 0;
    --dimen-1x: 15px;
    --dimen-2x: calc(var(--dimen-1x) * 2);
    --dimen-3x: calc(var(--dimen-1x) * 3);
    --dimen-4x: calc(var(--dimen-1x) * 4);
    --dimen-5x: calc(var(--dimen-1x) * 5);
    --dimen-6x: calc(var(--dimen-1x) * 6);
    --dimen-7x: calc(var(--dimen-1x) * 7);
    --dimen-8x: calc(var(--dimen-1x) * 8);
    --dimen-9x: calc(var(--dimen-1x) * 9);
    --dimen-10x: calc(var(--dimen-1x) * 10);
    --full: 100%;
    --half: 50%;

    /* Breakpoints */
    --xs: 0px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1900px;
    --xxxl: 3000px;

    /* Tamanho das Fontes */
    --font-xxs: 9px;
    --font-xs: 11px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-xxl: 22px;

    /* Tamanhos de cabeçalhos */
    --font-h0: 60px;
    --font-h1: 44px;
    --font-h2: 28px;
    --font-h3: 24px;
    --font-h4: 20px;
    --font-h5: 16px;
    --font-h6: 12px;

    /* Cores */
    --color-white: #ffffff;
    --color-black: #333;
    --color-primary: #101c2e;
    --color-secundary: #6ae97d;
    --color-third: #fff;
    --color-accent: #43ec00;
    --color-default: #b0b0b0;
    --color-info: #9900FF;
    --color-success: #68ca63;
    --color-warning: #FFAA00;
    --color-danger: #F44336;
    --color-smoke: rgba(0, 0, 0, 0.4);
    --color-facebook: #4267b2;
    --color-whatsapp: #4dc247;
    --color-twitter: #1da1f2;
    --color-netflix: rgba(57, 61, 88, 1);
    --color-alpha: transparent;
    --color-muted: #e6e6e6;
    --color-dark: #1e150f;

    /* Definição para colocar Reticências */
    --max-content-description: 300px;

    /* Grid */
    --grid-columns: 12;
    --gutter-xxs: 1.5px;
    --gutter-xs: 3px;
    --gutter-sm: 5px;
    --gutter-md: 7.5px;
    --gutter-1x: 15px;
    --gutter-2x: 30px;
    --gutter-3x: 45px;

    /* Ct-gt's */
    --ct-gt-xxs: 3px;
    --ct-gt-xs: 6px;
    --ct-gt-sm: 10px;
    --ct-gt-md: 18px;
    --ct-gt-1: 30px;
    --ct-gt-2: 60px;
    --ct-gt-3: 90px;

    /* Z-index */
    --z1: 1;
    --z2: 2;
    --z3: 3;
    --z4: 4;
    --z5: 5;

    /* Bordas */
    --border-width-0: 0px;
    --border-width-1: 1px;
    --border-width-2: 2px;
    --border-width-3: 3px;
    --border-width-4: 4px;
    --border-width-5: 5px;
    --border-width-6: 6px;
    --border-width-7: 7px;
    --border-width-8: 8px;
    --border-width-9: 9px;
    --border-width-10: 10px;

    /* Bordas */
    --border-radius-0: 0px;
    --border-radius-1: 5px;
    --border-radius-2: calc(var(--border-radius-1) * 2);
    --border-radius-3: calc(var(--border-radius-1) * 3);
    --border-radius-4: calc(var(--border-radius-1) * 4);
    --border-radius-5: calc(var(--border-radius-1) * 5);
    --border-radius-6: calc(var(--border-radius-1) * 6);
    --border-radius-7: calc(var(--border-radius-1) * 7);
    --border-radius-8: calc(var(--border-radius-1) * 8);
    --border-radius-9: calc(var(--border-radius-1) * 9);
    --border-radius-10: calc(var(--border-radius-1) * 10) ;

    /* Opacities */
    --op-0: 0;
    --op-25: 0.25;
    --op-50: 0.50;
    --op-75: 0.75;
    --op-1: 1;

    /* Letter Spacing */
    --leter-spacing-0: 0px;
    --leter-spacing-1: 1px;
    --leter-spacing-2: 2px;
    --leter-spacing-3: 3px;
    --leter-spacing-4: 4px;
    --leter-spacing-5: 5px;
    --leter-spacing-6: 6px;
    --leter-spacing-7: 7px;
    --leter-spacing-8: 8px;
    --leter-spacing-9: 9px;
    --leter-spacing-10: 10px;
}